<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item="type" collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%' || #{keyword} || '%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%' || #{keyword} || '%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="total" resultType="int">
        select count(*) from tbl_board where bno > 0
    </select>

    <select id="list" resultType="vo.BoardVO">
        <![CDATA[
            select rn as rnum,a2.bno,a2.title, a2.content, a2.writer, a2.regdate, a2.updatedate
	            from
                (select *
                from(
                    select @rnum := @rnum+1 as rn,a.bno, a.title, a.content, a.writer, a.regdate, a.updatedate
                    from (select @rnum :=0) b ,tbl_board a
		)a1
		        where
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
                rn <= #{pageNum} * #{amount}
            )a2
            where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>
    <select id="get" resultType="vo.BoardVO">
        select * from tbl_board where bno=${bno}
    </select>
    <insert id="insert">
        insert into tbl_board(typeno,title,content,writer) value(${typeno},#{title},#{content},#{writer})
    </insert>

    <update id="update">
        update tbl_board set typeno = #{typeno},title = #{title},content = #{content}  where bno = ${bno}
    </update>

    <delete id="delete">
        delete from tbl_board where bno = ${bno}
    </delete>
</mapper>
